*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-size: 0.9vw;
}
@font-face{
    font-family: 'Verdana';
    src: url('../fonts/Verdana.ttf') format('truetype');
}
html,
body{
    width: 100%;
    height: 100%;
    font-family: 'Verdana', sans-serif;
    background: #FFFEFF;
    scroll-behavior: smooth;
}
.header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 9rem;
    border-bottom: 1px solid #a0a0a0;
}
.header-container{
    width: 96%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.logo-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26.87rem;
}
.menu{
    width: 3.9rem;
    margin-right: 2rem;
    cursor: pointer;
}
.menu>img{
    width: 100%;
}
.logo{
    width: 20.1rem;   
}
.logo img{
width: 100%;
}
.search-block{
    border: 1px solid #a0a0a0;
    border-radius: 4rem;
    width: 54rem;
    display: flex;
    height: 3.56rem;
    margin: 0 auto;
}
.search-form{
    width: 100%;
    height: 100%;
    border-radius: 4rem;
    display: flex;
    align-items: center;
}
.search-form *{
    outline: none;
    border: none;

}
.searchInput{
   height: 100%;
   font-size: 1.1rem;
   border-radius: 4rem;
   padding-left: 2.1rem;
   width: 85%;
   margin-right: 1.5rem;
}
.search-btn{
    background: transparent;
    width: 1.5rem;
    height: 1.5rem;
    cursor : pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1.18rem;
}
.search-btn>img{
    width: 100%;
    height: 100%;
}
#file{
    display: none;
}
.file-fake{
cursor: pointer;
width: 1.5rem;
height: 1.5rem;
}
.file-fake>img{
    width: 100%;
    height: 100%;
}
.header-items{
    display: flex;
    align-items: center;
font-size: 1rem;
}
.header-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    cursor: pointer;
    text-decoration: none;
    color:#000;
}
.header-item-pic{
    width: 2.3rem;
    height: 2.3rem;
    margin-bottom: .8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-item-pic img{
   width: 100%;
}
.container{
    width: 96%;
    margin: 0 auto;
    min-height: 100vh;
}
.top-section{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.top-section-inner{
    display: flex;
    align-items: center;
    height: 5rem;
}
.top-section-inner a{
    font-size: 1.25rem;
    font-family: 'Verdana', sans-serif;
    text-decoration: none;
    color: #000;
}
.top-section-lang{
    display: flex;
    font-weight: bold;
    font-size:1.2rem;
    cursor: pointer;
    margin-left: 1rem;
    margin-right: 1rem;
    position: relative;
}
.top-section-lang img{
   width: .8rem;
   margin-left: .4rem;
}
.top-section-social-net{
    display: flex;
}
.top-section-social-net a{
    width: 1.8rem;
    height: 1.8rem;
    margin-right: 1rem;
}
.top-section-social-net img{
    width: 100%;
    height: 100%;
}
.banners{
    width: 100%;
   display: flex;
   justify-content: space-between;
}
.banner-item{
    position: relative;
    width: 51rem;
    display: flex;
}
.slider-item{
    width: 51rem;

}
.slider-item img{
    width: 100% !important;
}

.small-banners{
    margin-top: 3.5rem;
    width: 100%;
    display: inline-grid;
    grid-template-columns: repeat(4, 1fr);

    grid-column-gap:3.5rem;
    margin-bottom: 3.5rem;

}

.small-banner{
   position: relative;
   transition: .3s;
}
.small-banner:hover{
    transform: scale(1.03);
}
.small-banner:hover .small-banner-bg{
    opacity: 40%;
}
.small-banner-bg{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background: black;
    opacity: 0;
    transition: .3s ease-in;
}
.small-banners img{
    width: 100%;
}
.slick-dotted.slick-slider {
    margin-bottom: 0 !important;
}
.banners .slick-prev {
    left: 1rem !important;
 
    z-index: 5 !important;
}
.banners .slick-next{
    right: 1rem !important;
    z-index: 5 !important;
}
.slick-prev, .slick-next {
    width: 2.75rem !important;
    height: 2.75rem !important;
}
.slick-prev:before, .slick-next:before {
    font-size: 2.7rem !important;
    color: #434343 !important;
}
.slick-dots{
    bottom: -1.9rem !important;
}
.slick-dots li button:before {
    font-size: 1rem !important;
}
.slick-dots li{
    margin: 0 0.2rem !important;
    width: 1.5rem !important;
    height: 1.5rem !important;
}
.home-prod-heading{
    font-size: 1.5rem;
    font-weight: bold;
}
.products-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 3.75rem;
}
.product{
    width: 16rem;
    margin-bottom: 3rem;
}
.product>a{
text-decoration: none;
color: #000;
}
.product-img{
    width: 16rem;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-img img{
   width: 100%;
   max-height: 100%;
}
.product-price{
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;
    height: 2.7rem;
}
.product-main-price{
    font-weight: bold;
    font-size: 1.5rem;
    white-space: nowrap;
}
.price-tag{
    margin-left: .5rem;
}
.product-old-price{
    opacity: 50%;
    font-weight: bold;
    font-size: 1.1rem;
    text-decoration: line-through;
    margin-left: .8rem;
}
.product-description{
    width: 100%;
    overflow: hidden;
    height: 1.3rem;
}
.product-description-text{
    opacity: 47%;
    font-weight: bold;
    font-size: 1.1rem;
    line-height: 1.3rem;
}
.see-all-block{
    margin-top: 3rem;
    width: 100%;
    margin-bottom: 3rem;
}
.see-all-block a{
text-decoration: none;
color: #000;
}
.see-all-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: .6rem;
    width: 17rem;
    height: 4.25rem;
    font-size: 1.3rem;
    margin: 0 auto;
}
.see-all-btn:hover{
    background: #000;
    color:#fff;
}
.home-brands-heading{
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 4.5rem;
    margin-bottom: 3rem;
}
.brand-logos{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12rem;
}
.brand-logo{
    width: 17rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15rem;
}
.brand-logo img{
    width: 100%;
}
footer{
    width: 100%;
    border-top: 1px solid #000;
}
.footer-container{
    width: 95%;
    margin: 0 auto;
}
.footer-logo{
    width: 20rem;
    margin: 2.5rem auto 0 auto;

}
.footer-logo img{
    width: 100%;
}
.footer-container-inner{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-follow-us{
    width: 17%;
    font-size: 1.6rem;
    text-align: center;
    letter-spacing: .1rem;
}
.footer-follow-logo{       
    width: 2.6rem;
    height: 2.6rem;
    margin: .5rem;
}
.footer-follow-logos{
    margin-top:1.3rem ;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-follow-logo img{
    width: 100%;
    height: 100%;
}
.footer-info{
    font-size: 1.25rem;
    width: 62%;
}
.footer-contacts{
width: 18%;
font-size: 1.6rem;
}
.footer-contacts a{
    text-decoration: none;
    color: #000;
    
}
.footer-contacts>p{
    margin-bottom: 1.75rem;
}
.footer-mail,
.footer-tel{
    display: flex;
    font-size:1.2rem ;
    margin-bottom: 1rem;

}
.footer-mail img{
    width: 1.9rem;
    margin-right: 1rem;
}
.footer-tel img{
    width: 1.9rem;
    margin-right: 1rem;
}

.main-nav-bg{
    background: #000;
    opacity: 30%;
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    z-index: 40;
}
.main-nav{
    position: absolute;
    z-index: 50;
    top: 0;
    left: 0;
    width: 20rem;
    background: #fff;
    min-height: 100vh;
    transform:translateX(-40rem);
    transition: .5s;
}

.active-main-nav .main-nav{
    transform:translateX(0);
    filter: none;
}

.active-main-nav .main-nav-bg{
    display: block;
}
.active-main-nav{
    overflow: hidden;
}
.active-main-nav header{
    filter: blur(2px);
}
.active-main-nav .container{
    filter: blur(2px);
}
.active-main-nav footer{
    filter: blur(2px);

}
.main-nav-close{
    width: 1.9rem;
    right: -3rem;
    top: 2rem;
    position: absolute;
    cursor: pointer;
}
.main-nav-close>img{
    width: 100%;
}
.nav-item{
    width: 100%;
    height: 4rem;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
}
.nav-item a{
    text-decoration: none;
    color: #000000;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}
.nav-item-ico{
    width: 2.6rem;
    margin-right: 1rem;
    margin-left: 1.5rem;
}
.nav-item-ico img{
    width: 100%;
}
.nav-item:hover{
    background:#35a65b;

}
.nav-item:hover a{
    color:#fff;
}
.nav-item:hover img{
   filter: invert(1);
}